---
---
<div class="relative max-w-sm">
    <div class="relative">
      <button
        id="decreaseButton"
        class="absolute right-9 top-1 rounded-lg bg-slate-800 p-1.5 text-center text-sm text-white transition-all shadow-sm hover:shadow focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="w-4 h-4"
        >
          <path d="M3.75 7.25a.75.75 0 0 0 0 1.5h8.5a.75.75 0 0 0 0-1.5h-8.5Z" />
        </svg>
      </button>
      <input
        id="amountInput"
        type="number"
        value="0"
        class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm  rounded-md pl-3 pr-20 py-2 transition duration-300 ease focus:outline-none shadow-sm focus:shadow appearance-none [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
      />
      <button
        id="increaseButton"
        class="absolute right-1 top-1 rounded-lg bg-slate-800 p-1.5 text-center text-sm text-white transition-all shadow-sm hover:shadow focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="w-4 h-4"
        >
          <path
            d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z"
          />
        </svg>
      </button>
    </div>
  </div>
   
  <script>
    // Select the elements
    const amountInput = document.getElementById('amountInput') as HTMLInputElement;
    const increaseButton = document.getElementById('increaseButton') as HTMLInputElement;
    const decreaseButton = document.getElementById('decreaseButton') as HTMLInputElement;
    
    amountInput.addEventListener('change',(e)=>{
      const event = new CustomEvent('calculatorFormEvent', {
          detail: {
            element: amountInput // Элемент, который вы хотите передать
          }
      });
    });
    // Increase the value
    increaseButton.addEventListener('click', () => {
      amountInput.value = (parseInt(amountInput.value) + 1).toString();
    });
   
    // Decrease the value and prevent going below 0
    decreaseButton.addEventListener('click', () => {
      amountInput.value = (Math.max(0, parseInt(amountInput.value) - 1)).toString();
    });
  </script>