---
// Component Imports
import Button from '../components/Button.astro';
import NavBar from '../components/NavBar.astro';
import ModelCard from '../components/ModelCard.astro';

// https://docs.astro.build/basics/astro-components/
---

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<!-- <meta name="viewport" content="width=device-width" /> -->
		<meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href=`${import.meta.env.BASE_URL}/favicon.svg` />
		<title>404</title>
	</head>

	<body class="bg-stone-100">
		<!-- hero -->
		<div class="w-full bg-gradient-to-br from-stone-700 to-stone-600">
			<div class="max-w-6xl mx-auto min-h-96 py-8 relative px-16 pb-16">
		
			</div>
		</div>
		<!-- content -->
		
		
	</body>
</html>
