---
import { getCollection } from "astro:content";
// import CsvTable from '../components/Table.astro';
import fs from "fs";
import path from "path";
import { glob, globSync, globStream, globStreamSync, Glob } from "glob";
import NavBar from "../components/NavBar.astro";
import Table from "../components/Table.astro";
import { ClientRouter } from "astro:transitions";
import "../styles/main.css";

const csvCollection = await glob(["./src/data/**/**/*.csv"]);

export async function getStaticPaths() {
  // const csvCollection = await getCollection('csv');
  // console.log(csvCollection.length);

  const collection = await glob(["./src/data/**/**/*.csv"]);
  const paths = collection.map((file) => ({
    params: {
      category: file.split("/")[2],
      model: file.split("/")[3],
      type: file.split("/")[4].replace(".csv", ""),
    },
    props: {
      filePath: file.toString(),
      category: file.split("/")[2],
      model: file.split("/")[3],
      type: file.split("/")[4].replace(".csv", ""),
    },
  }));
  return paths;
}
// console.log(Astro.params.filePath);
const csvFile = Astro.props.filePath;
const model = Astro.props.model;
const type = Astro.props.type;
if (!csvFile) {
  throw new Error("CSV file not found");
}

// const csvFilePath = path.join(process.cwd(), 'src/content/csv', ...Astro.params.path, csvFile.content);
// const csvData = fs.readFileSync(csvFilePath, 'utf-8');
const csvFilePath = path.join(process.cwd(), csvFile);
const csvData = fs.readFileSync(csvFilePath, "utf-8");
const pathname = new URL(Astro.request.url).pathname;
// console.log(pathname);
// const test = Astro.props.type.substring(Astro.props.type.length-2) === pathname.substring(pathname.length-2);
// const current = {current:test}
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, minimum-scale=1.0, initial-scale=1.0"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body class="bg-stone-100">
    <ClientRouter />
    <!-- hero -->

    <div class="w-full bg-gradient-to-br from-stone-700 to-stone-600">
      <div class="max-w-6xl mx-auto py-8 relative px-16">
        <NavBar />
      </div>
    </div>

    <div class="max-w-5xl mx-auto">
      <!--  -->
      <div class="h-96 flex-col justify-start items-start inline-flex">
        <h1
          class="self-stretch text-stone-800 text-2xl font-light leading-9 tracking-widest"
        >
          Описание модели <br />Heaton {model}
        </h1>
        <div class="self-stretch justify-start items-start gap-2.5 inline-flex">
          <div
            class="grow shrink basis-0 flex-col justify-center items-start gap-2.5 inline-flex"
          >
            <div
              class="self-stretch h-96 flex-col justify-start items-start gap-2.5 flex"
            >
              <img
                class="w-96 h-56"
                src="https://via.placeholder.com/366x226"
              />
              <div
                class="self-stretch text-stone-800 text-base font-light leading-normal tracking-wider"
              >
                Панельные радиаторы с боковым подключением широкого применения.
                С конвекционными пластинами, боковыми защитными панелями и
                защитной решеткой сверху. Имеют четыре боковых присоединительных
                отверстия в каждом углу радиатора с внутренней резьбой G1/2
              </div>
            </div>
            <div
              class="self-stretch py-4 justify-center items-center gap-2.5 inline-flex"
            >
              <div
                class="grow shrink basis-0 text-stone-800 text-base font-bold leading-normal tracking-wider"
              >
                Паспорт
              </div>
            </div>
            <div
              class="self-stretch py-4 justify-center items-center gap-2.5 inline-flex"
            >
              <div
                class="grow shrink basis-0 text-stone-800 text-base font-bold leading-normal tracking-wider"
              >
                Сертификаты
              </div>
            </div>
          </div>
          <div
            class="w-96 p-8 bg-white rounded-3xl flex-col justify-start items-start gap-2.5 inline-flex"
          >
            <div
              class="self-stretch h-96 flex-col justify-start items-start gap-8 flex"
            >
              <div
                class="self-stretch text-stone-800 text-lg font-light uppercase leading-normal tracking-wider"
              >
                Технические характеристики
              </div>
              <div
                class="self-stretch text-stone-800 text-sm font-light leading-normal tracking-wide"
              >
                Максимальное рабочее давление – 10 Бар
                <br />Испытательное давление – 15 Бар
                <br />Материал изготовления панелей- высококачественная
                низкоуглеродистая холоднокатаная сталь, с толщиной 1,3 мм
                <br />Максимальная температура воды — 110°С
                <br />Цвет RAL 9016 (белый)
                <br />Выпускаемые типы: 10,11,20,21,22,30,33
                <br />Выпускаемые высоты: 300, 400, 500, 600, 900 мм
                <br />Выпускаемые длины: 400-3000 мм (с шагом 100 мм) <br
                />Гарантия 10 лет
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <ul class="flex">
        {
          csvCollection
            .filter((file) => file.includes(`/${model}/`))
            .map((file) => (
              // тут надо добавить выборку внутри модели
              <li class="p-2 rounded-full bg-stone-200 flex">
                <a href={`./${file.split('/')[4].replace(".csv","")}`} class=`${file.split("/")[4].replace(".csv","")===type&&"pointer-events-none"}`>{file.split('/')[4].replace(".csv","")}</a>
              </li>
            ))
        }
      </ul>
      <div class="" transition:animate="slide"><Table csvData={csvData} /></div>
    </div>
  </body>
</html>
