---
import Hero from '../components/Hero.astro'
import NavBar from '../components/NavBar.astro'
import Layout from '../layouts/main.astro'
import Footer from '../components/Footer.astro';
import LogoSmall from '../svg/logo_small.svg';
---
<Layout >
    <div class="">
        <div class="relative py-8 mx-auto container-center ">
          <NavBar />
        </div>
        <div class="relative container-center">
          <h1 class="text-3xl lg:text-4xl xl:text-5xl my-[10svh] font-black uppercase z-20">Политика конфиденциальности</h1>
          <LogoSmall class="absolute -z-10 right-4 md:right-10 w-48 md:w-64 lg:w-96 text-neutral-100 -top-16 lg:-top-32"/>
        </div>
        
      </div>
    <section class="container-center prose lg:prose-xl mb-32 text-neutral-600">
        <div class="text">

            <p>Интернет-магазин Хитон – q-li.ru/heaton (ООО «Хитон», далее по тексту ИМ Хитон) высоко ценит доверие, оказываемое нам нашими Покупателями, и осознает ответственность за обеспечение конфиденциальности персональных данных.</p>
            <p>&nbsp;</p>
            <p>При обработке персональных данных Покупателей ИМ Хитон руководствуется Федеральным законом РФ «О персональных данных» от 27 июля 2006 г. №152-ФЗ.</p>
            <p>Согласно статье 3 Федерального закона «О персональных данных» под персональными данными понимается любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу, а под обработкой персональных данных - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
            <p>Согласно пункту 5 части 1 статьи 6 Федерального закона «О персональных данных» согласие субъекта персональных данных на обработку персональных данных не требуется, если обработка персональных данных необходима для исполнения договора, стороной которого является субъект персональных данных.</p>
            <p>&nbsp;</p>
            <p>Принимая условия настоящей политики конфиденциальности, Вы:</p>
            <p>- сообщаете достоверную информацию о себе;</p>
            <p>- даёте своё согласие на её сбор и обработку ООО «Хитон», зарегистрированному по адресу: Российская Федерация, Московская область, г. Видное, Белокаменное шоссе, д.1, ИНН 7736192449, в соответствии с законодательством Российской Федерации.</p>
            <p>ИМ Хитон гарантирует неразглашение передаваемой пользователем информации личного характера, а также обязуется обеспечить режим ее безопасного хранения - защиту от случайного или умышленного несанкционированного доступа и предупреждение возможных рисков копирования, распространения, блокирования, изменения, повреждения, утраты или уничтожения данных.</p>
            <p>&nbsp;</p>
            <p><strong>Предоставление информации</strong></p>
            <p>При регистрации в личном кабинете на сайте ИМ Хитон или при совершении покупки Покупатель - физическое лицо предоставляет следующую информацию:</p>
            <p>- ФИО;</p>
            <p>- E-mail;</p>
            <p>- город;</p>
            <p>- контактный номер телефона.</p>
            <p>&nbsp;</p>
            <p>Если Покупатель является юридическим лицом или индивидуальным предпринимателем (ИП), то Покупатель при регистрации в Личном кабинете на сайте ИМ Хитон предоставляет следующую информацию:</p>
            <p>- ИНН юридического лица/ИП;</p>
            <p>- ФИО представителя юридического лица/ИП;</p>
            <p>- E-mail юридического лица/ИП, представителя юридического лица/ИП;</p>
            <p>- контактный номер телефона юридического лица/ИП, представителя юридического лица/ИП.</p>
            <p>&nbsp;</p>
            <p>Такие данные о юридическом лице (ИП) как: наименование юридического лица/ИП, КПП, ОГРН, ОГРИП, юридический и фактический адреса предоставляются в автоматическом режиме через онлайновый сервис для получения выписок из ЕГРЮЛ по ИНН.</p>
            <p>Банковские реквизиты Покупатель предоставляет при первом заказе.</p>
            <p>Информация, предоставленная юридическим лицом/ИП, в том числе о представителе юридического лица/ИП, не относится к персональным данным. На взаимоотношения с юридическим лицом/ИП не распространяются требования, предусмотренные ФЗ «О защите прав потребителей». Юридическое лицо/ИП при регистрации и осуществлении заказа выражает свое согласие с тем, что покупка осуществляется для нужд, связанных с предпринимательской деятельностью.</p>
            <p>&nbsp;</p>
            <p>ИМ Хитон, в силу специфики способа получения информации, не изменяет и не редактирует информацию о Покупателе при регистрации в личном кабинете на сайте ИМ Хитон, а также не проверяет достоверность и не осуществляет контроль ее актуальности. Всю ответственность, а также возможные последствия за предоставление недостоверной или неактуальной персональной информации несёт Покупатель.</p>
            <p>После завершения процесса регистрации в личном кабинете на сайте ИМ Хитон Покупателю присваиваются уникальные имя пользователя (логин) и пароль. После оформления заказа данные о заказе и Покупателе регистрируются в базе данных Продавца. Для входа в личный кабинет на сайте ИМ Хитон необходимо ввести логин и пароль.</p>
            <p>Покупатель обязан не раскрывать третьим лицам логин и пароль.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>Применение полученной информации</strong></p>
            <p>ИМ Хитон осуществляет обработку персональных данных согласно требованиям, установленным Федеральным законом «О персональных данных», в том числе: обработка персональных данных ограничивается достижением конкретных, заранее определенных и законных целей, не допускается обработка персональных данных, несовместимая с целями сбора персональных данных. Так, ИМ Хитон осуществляет обработку персональных данных с целью выполнения своих обязательств перед Покупателем:</p>
            <p>- для идентификации Покупателя, оформления заказов;</p>
            <p>- обработки и получения платежей;</p>
            <p>- доступа к персонализированной информации на сайте;</p>
            <p>- предоставления покупателю технической или клиентской поддержки;</p>
            <p>- установления обратной связи с целью обработки заявок, уведомления о статусе заказа, оказания помощи в вопросах, связанных с услугами ИМ Хитон, для информирования о новых акциях и предложениях, в том числе посредством e-mail;</p>
            <p>- для улучшения качества работы сайта, оценки его удобства и пользы, анализа эффективности продуктов и услуг.</p>
            <p>&nbsp;</p>
            <p>Лицо, зарегистрировавшееся на сайте и/или осуществившее (осуществляющее) заказ, выражает свое согласие на обработку своих персональных данных агентами и третьими лицам, действующими на основании договоров с ИМ Хитон для исполнения обязательств перед Покупателем.</p>
            <p>ИМ Хитон также осуществляет сбор технической информации о посетителях сайта с целью защиты от противоправных действий посетителей, а именно:</p>
            <p>- IP-адрес компьютера и время доступа;</p>
            <p>- сведения о том, по ссылке с какого Интернет-сайта пользователь попал на сайт ИМ Хитон;</p>
            <p>- сведения о посещенных страницах на сайте ИМ Хитон;</p>
            <p>- сведения об использованных ссылках на сайте ИМ Хитон;</p>
            <p>- сведения о просмотре рекламных баннеров;</p>
            <p>- информация об устройствах компьютера пользователя;</p>
            <p>- прочая техническая информация, предоставляемая браузером пользователя (тип устройства, тип и версия браузера, операционная система, разрешение экрана и т.п.).</p>
            <p>Эта информация собирается и сохраняется в целях ведения статистики посещений, для оценки и анализа работы сайта. Информация является общедоступной, таким образом, ИМ Хитон не несет ответственность за ее разглашение.</p>
            <p>&nbsp;</p>
            <p><strong>Изменение пользователем персональной информации</strong></p>
            <p>Покупатель ИМ Хитон обладает правом доступа к информации о своих персональных данных в личном кабинете ИМ Хитон.</p>
            <p>Покупатель может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть, а также параметры её конфиденциальности, воспользовавшись функцией редактирования персональной информации в разделе «Личные настройки» личного кабинета.</p>
            <p>Покупатель вправе в любой момент потребовать удаления предоставленной им персональной информации, обратившись в Службу клиентской поддержки ИМ Хитон по адресу <a href="mailto:zakaz@santech.ru">zakaz@santech.ru</a> или по телефону +7 (495) 825-00-35.</p>
            <p>В случае требования покупателя об удалении персональной информации ИМ Хитон вправе продолжить обработку персональных данных без согласия субъекта персональных данных только при наличии оснований, предусмотренных законодательством Российской Федерации.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>Меры, применяемые для защиты персональной информации Покупателей</strong></p>
            <p>ИМ Хитон принимает необходимые и достаточные организационные и технические меры для защиты персональной информации Покупателей от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц в соответствии с требованиями, установленными Федеральным законом «О персональных данных».</p>
            <p>В частности, к этим мерам относятся:</p>
            <p>1. Организационные меры по защите персональных данных:</p>
            <p>- назначение ответственных лиц за построение системы защиты персональных данных в ИМ Хитон;</p>
            <p>- подготовка необходимой документации, определение регламентов и порядка обработки персональных данных;</p>
            <p>- распределение полномочий между сотрудниками при обработке персональных данных;</p>
            <p>- охрана объектов, контрольные и другие мероприятия.</p>
            <p>2. Технические меры по защите персональных данных:</p>
            <p>- ограничение и контроль физического доступа к объектам информационных систем персональных данных и его техническим средствам (совместно с организационными мерами);</p>
            <p>- использование программных, программно-аппаратных и аппаратных средств для защиты информации в информационных системах персональных данных.</p>
            <p>При переходе из нашего интернет-магазина на другие источники компания не несет ответственности за конфиденциальность представленных на этих ресурсах данных.</p>
            <p>&nbsp;</p>
            <p><strong>Безопасность платежей</strong></p>
            <p>Безопасность платежей обеспечивается с помощью сервиса Яндекс. Касса. Сервис работает по международному стандарту безопасности — Payment Card Industry Data Security Standard (сокращенно PCI DSS). Этот стандарт разработан платежными системами Visa и MasterCard, включает 12 требований по защите данных.</p>
            <p>Безопасность передаваемой информации обеспечивается с помощью современных протоколов обеспечения безопасности в сети интернет.</p>
            <p>&nbsp;</p>
            <p><strong>Электронные рассылки</strong></p>
            <p>ИМ Хитон вправе направлять Покупателю по его согласию и с умеренной частотой сообщения рекламно-информационного характера, содержащие информацию о действующих скидках, специальных предложениях, товарах, представленных только в ИМ Хитон, а также новости компании.</p>
            <p>Если Покупатель не желает получать подобного рода электронные рассылки, он может перейти по ссылке «Отписаться от рассылки» внизу письма или изменить соответствующие настройки подписки в личном кабинете ИМ Хитон в разделе «Личные настройки» - «Прочие настройки».</p>
            <p>Если же по каким-то причинам у Покупателя возникают сложности с процедурой отписки от электронной рассылки, он может направить письмо с просьбой исключить его из подписчиков на адрес <a href="mailto:zakaz@santech.ru">zakaz@santech.ru</a>.</p>
            <p>&nbsp;</p>
            <p><strong>Защита информации на сайте </strong><strong>heaton</strong><strong>.</strong><strong>ru</strong><strong></strong></p>
            <p>Цель представленной на сайте информации – информирование покупателя о деятельности интернет-магазина, товарах и услугах, а также помощь в работе с сайтом.</p>
            <p>Все содержимое сайта является собственностью ООО «Хитон» и защищено законодательно. Пользователи вправе использовать информацию, представленную на сайте, в личных и некоммерческих целях. Запрещено любое использование информации в коммерческих целях.</p>
            <p>ООО «Хитон» оставляет за собой право на изменение, удаление или другую работу с информацией, представленной на сайте, а также на ограничение доступа к сайту в любое время по своему усмотрению.</p>
            <p>&nbsp;</p>
            <p><strong>Изменение Политики конфиденциальности</strong></p>
            <p>ИМ Хитон оставляет за собой право на изменение настоящей Политики конфиденциальности для дальнейшего совершенствования системы безопасности в соответствии с действующим законодательством РФ.</p>
            <p>При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики.</p>
            <p>&nbsp;</p>
            <p><strong>Где можно получить дополнительную информацию о политике конфиденциальности?</strong></p>
            <p>Для получения любой дополнительной информации или разрешения спорных вопросов пользователь сайта может обратиться в ООО «Хитон»:</p>
            <p>- по адресу Московская область, г. Видное, Белокаменное шоссе, д. 1;</p>
            <p>- по электронной почте <a href="mailto:zakaz@santech.ru">zakaz@santech.ru</a></p>
            <p>- по телефону +7 (495) 825-00-35.</p></div>
</section>
<Footer class="mt-auto snap-center bg-neutral-300"/>
</Layout>
  