---
import Hero from '../components/Hero.astro'
import NavBar from '../components/NavBar.astro'
import Layout from '../layouts/main.astro'
import Footer from '../components/Footer.astro';
import LogoSmall from '../svg/logo_small.svg';
---
<Layout >
    <div class="">
        <div class="relative py-8 mx-auto container-center ">
          <NavBar />
        </div>
        <div class="relative container-center">
          <h1 class="text-3xl lg:text-4xl xl:text-5xl my-[10svh] font-black uppercase z-20">Рекомендательные технологии</h1>
          <LogoSmall class="absolute -z-10 right-4 md:right-10 w-48 md:w-64 lg:w-96 text-neutral-100 -top-16 lg:-top-32"/>
        </div>
        
      </div>

    <section class="container-center prose lg:prose-xl mb-32 text-neutral-600">
        <div class="post-block content-white-block">
            <div class="text">
            
            <p>Рекомендательные технологии — это набор виджетов на сайте и в приложении с подборкой товаров, которые могут заинтересовать пользователя. Рекомендательные технологии&nbsp;на q-li.ru/heaton (далее - "Сайт") отвечает за отбор товаров, релевантных контексту показа виджетов, и порядок отображения этих товаров. Виджеты рекомендаций размещаются на большинстве страниц Сайта и включают в себя:</p>
            
            
            <ul><li>    виджет избранных товаров,</li><li>    виджет похожих товаров,</li><li>    виджет сопутствующих товаров.</li></ul>
            <p>1. Для функционирования Рекомендательных технологий используются следующие виды сведений, относящиеся к предпочтениям Пользователей и источники их получения:</p>
            <p>1.1 Для работы Рекомендательных технологий используются данные, предоставляемые Пользователем в результате использования браузера или мобильного приложения, запускаемого на устройстве Пользователя и взаимодействующего с Сайтом.</p>
            <p>1.2 Каждому Пользователю присваивается случайный идентификатор Пользователя, который представляет собой набор букв, цифр и специальных символов.</p>
            <p>1.3 В совокупности с идентификатором Пользователя используются следующие данные о взаимодействиях Пользователя с Сайтом, такие как:</p>
            
            
            
            <ul><li>данные о просмотрах страниц и материалов Сайта;</li><li>данные о добавлении продуктов в избранное;</li><li>данные о совершенных ранее заказов на Сайте;</li><li>данные о кликах на продукты.</li></ul>
            <p>2. Данные о взаимодействиях Пользователя с Сайтом используются для выявления закономерностей и паттернов предпочтений Пользователя.</p>
            <p>3. На основе выявленных закономерностей и паттернов предпочтений Пользователя формируется информация для наполнения списка виджетов указанных выше.</p></div>
            
            </div>
</section>
<Footer class="mt-auto snap-center bg-neutral-300"/>
</Layout>
  