---
import Hero from '../components/Hero.astro'
import NavBar from '../components/NavBar.astro'
import Layout from '../layouts/main.astro'
import Footer from '../components/Footer.astro';
import LogoSmall from '../svg/logo_small.svg';
---
<Layout >
    <div class="">
        <div class="relative py-8 mx-auto container-center ">
          <NavBar />
        </div>
        <div class="relative container-center">
          <h1 class="text-3xl lg:text-4xl xl:text-5xl my-[10svh] font-black uppercase z-20">Пользовательское соглашение</h1>
          <LogoSmall class="absolute -z-10 right-4 md:right-10 w-48 md:w-64 lg:w-96 text-neutral-100 -top-16 lg:-top-32"/>
        </div>
        
      </div>

    <section class="container-center prose lg:prose-xl mb-32 text-neutral-600">
        <div class="post-block content-white-block">
            <div class="text">
            
            <p ><strong>о порядке продажи товаров дистанционным способом в интернет-магазине q-li.ru/heaton</strong><br></p>
            <p ><strong>(в соответствии с Постановлением Правительства РФ № 612 от 27.09.2007 г. «Правила продажи товаров дистанционным способом»).</strong></p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>1. Термины и определения</strong></p>
            <p><strong>Интернет-магазин</strong> - торговая площадка продавца, расположенная в сети интернет по адресу q-li.ru/heaton, на которой осуществляется продажа товаров дистанционным способом - продажа товаров по договору розничной купли-продажи, заключаемому на основании ознакомления покупателя с предложенным продавцом описанием товара, представленным на фотоснимках, с использованием информационно-телекоммуникационной сети «Интернет», исключающим возможность непосредственного ознакомления покупателя с товаром, либо образцом товара при заключении такого договора, а также имеющая виртуальную витрину и интерактивный механизм оформления заказа на эти товары.</p>
            <p><strong>Сайт</strong> - это совокупность связанных между собой веб-страниц, размещенных в сети интернет по уникальному адресу (URL): q-li.ru/heaton.</p>
            <p><strong>Соглашение</strong> - данное пользовательское соглашение, которое регламентирует отношения между Покупателем и Продавцом.</p>
            <p><strong>Продавец</strong> - Общество с ограниченной ответственностью «Хитон» (ИНН 1111111111), осуществляющее продажу товаров дистанционным способом на сайте.</p>
            <p><strong>Покупатель (клиент)</strong> - любое физическое или юридическое лицо, способное принять и оплатить заказанный им товар в порядке и на условиях, установленных настоящим Соглашением и действующим законодательством РФ.</p>
            <p><strong>Личный кабинет</strong> - расширенный ресурс (инструмент, сервис) интернет-магазина, предоставляемый пользователю для осуществления заказа товаров и услуг, хранения данных по ним, контроля и отчетности. Добавление личного кабинета пользователю осуществляется после подтверждения условий регистрации.</p>
            <p><strong>Товар</strong> - материальный объект купли-продажи. Информация о товарах размещается Продавцом на сайте для продажи через интернет-магазин дистанционным способом, согласно перечню, предусмотренному законодательством Российской Федерации.</p>
            <p><strong>Заказ</strong> - должным образом оформленный запрос (сообщение) Покупателя (клиента) на приобретение и доставку по указанному адресу товаров, выбранных и заказанных на сайте.</p>
            <p><strong>Доставка</strong> – фактическая передача товара Покупателю. Доставку осуществляет транспортная компания, оказывающая по договору с Продавцом услуги по доставке заказов клиентам.</p>
            <p><strong>Пункт самовывоза</strong> – месторасположение Продавца (или компании, с которой у Продавца заключен договор), где клиент самостоятельно получает заказ.</p>
            <p><strong>Акция</strong> - это мероприятие, направленное на увеличение объемов продаж, на привлечение внимания потребителей к продукции, на упрочение положения организации на рынке. Акции на сайте публикуются в форме: подарков, призов и скидок.</p>
            <p>&nbsp;</p>
            <p><strong>2. Общие положения</strong></p>
            <p>2.1. Сайт принадлежит и администрируется ООО «Хитон».</p>
            <p>2.2. Продавец на основании заказа клиента и предварительной оплаты 100% продает товар в соответствии с ценами, опубликованными на сайте, а клиент соглашается и принимает все условия настоящего Пользовательского Соглашения (далее - Соглашения), изложенными ниже. Цены действуют строго согласно периоду, указанному на сайте (период действия цен).</p>
            <p>2.3. Настоящее Соглашение устанавливает порядок продажи товаров дистанционным способом, регулируют отношения между Покупателем и Продавцом при продаже товаров дистанционным способом и оказании в связи с такой продажей услуг, и является публичной офертой в соответствии со ст.435 и ч. 2 ст.437 ГК РФ.</p>
            <p>2.4. К отношениям между Покупателем (клиентом) и Продавцом применяются положения ГК РФ о розничной купле-продаже (§ 2 глава 30), а также Закона РФ от 07.02.1992 № 2300-1 «О защите прав потребителей», Постановления Правительства РФ от 27.09.2007 № 612 «Об утверждении Правил продажи товаров дистанционным способом» и иные правовые акты, принятые в соответствии с ними.</p>
            <p>2.5. Информационные материалы и цены на сайте носят исключительно информационный и ознакомительный характер, и ни при каких условиях не являются публичной офертой, определяемой положениями п. 1 ст. 437 ГК РФ. Для получения более подробной информации следует обращаться непосредственно к Продавцу.</p>
            <p>2.6. Продавец оставляет за собой право в любое время без специального уведомления вносить изменения, удалять, исправлять, дополнять, либо любым иным способом обновлять информацию, размещенную во всех разделах сайта интернет-магазина. Покупатель (клиент) обязуется самостоятельно отслеживать подобные изменения.</p>
            <p>2.7. Клиент соглашается с условиями настоящего Соглашения на последнем этапе оформления заказа на сайте, способами, указанными в п. 4.3. Соглашения и, таким образом, гарантирует, что полностью ознакомился с текстом Соглашения. В случае несогласия с настоящим Соглашением клиент обязан прекратить использование сервиса интернет-магазина и покинуть сайт.</p>
            <p>2.8. Факт оформления заказа является безоговорочным принятием данного Соглашения (безусловным акцептом), и Покупатель рассматривается как лицо, вступившее с Продавцом в договорные отношения.</p>
            <p>2.9. Продавец может осуществлять доставку товаров Покупателю способом и в сроки, оговоренные сторонами в процессе продажи.</p>
            <p>2.10. Продавец оставляет за собой право отказать в продаже товара Покупателю, нарушившему положения настоящего Соглашения.</p>
            <p>2.11. Продавец оставляет за собой полное и безоговорочное право любым образом в одностороннем порядке модифицировать, то есть изменять, дополнять, удалять и другим образом корректировать любые пункты и части пунктов Соглашения без предварительного оповещения Покупателя. Но это не является основанием для отказа Продавца от обязательств по уже сделанным Покупателем заказам.</p>
            <p>2.12. Продавец осуществляет продажу через интернет-магазин на территории Российской Федерации.</p>
            <p>&nbsp;</p>
            <p><strong>3. Регистрация на сайте</strong></p>
            <p>3.1. Для оформления заказа и получения возможности использования личного кабинета клиенту необходимо зарегистрироваться на сайте. При регистрации на сайте и получения возможности использования личного кабинета клиент предоставляет следующую информацию о себе:</p>
            <p>- розничный Покупатель (физическое лицо): фамилия, имя, отчество, адрес электронной почты, телефон, город;</p>
            <p>- организация (юридическое лицо): наименование, ИНН, КПП, ОГРН, город, контактная информация - фамилия, имя, отчество, адрес электронной почты, телефон.</p>
            <p>3.2. Допустимо оформление заказа без регистрации на сайте.</p>
            <p>3.3. Продавец не проверяет и не несет ответственность за точность и правильность информации, предоставляемой клиентом при регистрации.</p>
            <p>3.4. Клиент обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации на сайте. В случае возникновения у клиента подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, клиент обязуется незамедлительно уведомить об этом Продавца, направив электронное письмо по адресу <a href="mailto:zakaz@santech.ru">zakaz@santech.ru</a>.</p>
            <p>3.5. Регистрируясь на сайте и предоставляя любую информацию, клиент тем самым соглашается с условиями хранения и обработки своих персональных данных, определенных Политикой конфиденциальности Продавца.</p>
            <p>&nbsp;</p>
            <p><strong>4. Оформление и сроки выполнения заказа</strong></p>
            <p>4.1. До момента оформления заказа и заключения настоящего Соглашения Покупатель обязуется самостоятельно ознакомиться:</p>
            <p>- с основными потребительскими свойствами, ценой и условиями приобретения товара (информация расположена рядом с фотоизображением товара);</p>
            <p>- со способами оплаты товара (информация расположена на сайте в разделе «Интернет-магазин/Способы оплаты»);</p>
            <p>- со способами доставки и ее стоимостью (информация расположена на сайте в разделе «Интернет-магазин/Доставка»).</p>
            <p>4.2. Все информационные материалы, представленные на сайте, носят справочный, информационный и ознакомительный характер и не могут в полной мере передавать достоверную информацию о свойствах и характеристиках товара, включая цвет, размеры и формы. В случае возникновения вопросов, касающихся свойств и характеристик товара, а также для получения более подробной информации перед оформлением заказа, Покупатель (клиент) должен обратиться непосредственно к Продавцу.</p>
            <p>4.3. Заказ товара может осуществляться следующими способами:</p>
            <p>- оформлен клиентом самостоятельно на сайте через перемещение товара в «Корзину» и подтверждения покупки, нажатием кнопки;</p>
            <p>- по электронной почте <a href="mailto:zakaz@santech.ru">zakaz@santech.ru</a> путем направления запроса;</p>
            <p>- по телефону через оператора (менеджера) Продавца.</p>
            <p>4.4. В случае если у Продавца возникают основания предполагать, что предоставленная пользователем при оформлении заказа информация не соответствует действительности или предоставлена в неполном объеме, ему может быть отказано в приеме заказа на временной или постоянной основе.</p>
            <p>4.5. Все поля формы заказа, отмеченные «*» обязательны для заполнения Покупателем.</p>
            <p>4.6. Покупатель не имеет права указывать в форме заказа данные третьих лиц.</p>
            <p>4.7. При оформлении заказа Покупатель тем самым передает Продавцу сообщение о своем намерении приобрести товар.</p>
            <p>4.8. В обработанном заказе, должны быть обязательно указаны:</p>
            <p>- полное фирменное наименование и адрес (место нахождения) Продавца;</p>
            <p>- адрес, по которому следует доставить товар;</p>
            <p>- наименование товара, артикул, марка, количество предметов, входящих в комплект приобретаемого товара, цена товара;</p>
            <p>- услуга доставки (при предоставлении), время ее исполнения и стоимость;</p>
            <p>- контактный телефон, электронная почта или иная контактная информация.</p>
            <p>4.9. После оформления заказа клиенту сообщается информация об ожидаемой дате передачи заказа в службу доставки. Указанная дата зависит от наличия заказанных товаров на складе Продавца и времени, необходимом на обработку заказа. Сообщение направляется по электронному адресу, указанному клиентом при регистрации, либо на телефонный номер, указанный при оформлении заказа.</p>
            <p>4.10. Если клиентом оформлен заказ на товар в количестве, отсутствующем на складе Продавца (в том числе по причинам, независящим от Продавца), Продавец в течение 1 (одного) рабочего дня информирует об этом клиента посредством направления информационного сообщения. Сообщение направляется по электронному адресу, указанному клиентом при регистрации, либо на телефонный номер, указанный при оформлении заказа. Клиент вправе согласиться принять товар в количестве, имеющемся в наличии у Продавца, либо аннулировать данную позицию товара из заказа. В случае неполучения ответа клиента в течение 14 (четырнадцати) дней продавец оставляет за собой право аннулировать данный товар из заказа.</p>
            <p>4.11. В случае удаления всех позиций, либо только нескольких позиций из предоплаченного заказа, стоимость удаленных позиций по требованию клиента возвращается продавцом тем способом, которым товар изначально был предоплачен.</p>
            <p>4.12. Номер заказа указывается в товарном чеке, накладной, электронной форме заказа на сайте и иных формируемых Продавцом документах, подтверждающих факт заказа и являющихся неотъемлемой частью настоящего Соглашения.</p>
            <p>&nbsp;</p>
            <p><strong>5. Приобретение товаров по акции или со скидками</strong></p>
            <p>5.1. Продавец вправе предоставлять клиенту скидки на товар и устанавливать программу бонусов. Виды скидок, бонусов, порядок и условия начисления указаны на сайте и могут быть изменены Продавцом в одностороннем порядке. При этом Продавец может ограничивать условия действия скидок на те или иные группы товаров.</p>
            <p>5.2. При приобретении товаров по акции, клиент принимает на себя обязанности ознакомления с Правилами проведения акции на сайте.</p>
            <p>5.3. Клиент самостоятельно выступает исполнителем по налоговым обязательствам перед ФНС, предусмотренные п.1 ст.210 НК РФ и самостоятельно уплачивает НДФЛ, стоимость подарка или приза, полученного по акции, превышающего стоимость 4000 (четыре тысячи) рублей.</p>
            <p>&nbsp;</p>
            <p><strong>6. Доставка</strong></p>
            <p>6.1. Способы доставки и стоимость услуг по доставке товаров указаны на сайте в разделе «Интернет-магазин/Доставка». Стоимость доставки каждого заказа рассчитывается индивидуально, исходя из его веса, объема, региона и способа доставки.</p>
            <p>6.2. При условии самовывоза товара клиентом из пункта выдачи, плата за услугу доставки товара от Продавца до пункта самовывоза не взимается. Неявка Покупателя в течение 3-х рабочих дней или не совершение иных необходимых действий для принятия товара из пункта самовывоза могут рассматриваться Продавцом в качестве отказа Покупателя от исполнения настоящего Соглашения.</p>
            <p>6.3. Доставка товара Покупателю осуществляется по адресу и в сроки, согласованные Покупателем и оператором (менеджером) Продавца при оформлении заказа. Стоимость доставки не может быть изменена после согласования с Покупателем.</p>
            <p>6.4. Для доставки товаров по адресу, указанному Покупателем, Продавец может использовать услуги третьих лиц (транспортные компании), с обязательным информированием об этом Покупателя.</p>
            <p>6.5. После отправки товара транспортной компанией Продавец сообщает Покупателю данные, необходимые для идентификации груза (заказа/товара).</p>
            <p>6.6. Сроки, указанные на сайте и отведенные Продавцом для доставки заказа клиентом, носят ориентированный характер. Продавец приложит все усилия для соблюдения сроков доставки, тем не менее, задержки в доставке возможны ввиду непредвиденных обстоятельств, произошедших не по вине Продавца.</p>
            <p>6.7. Риск случайной гибели или случайного повреждения товара переходит к клиенту с момента передачи ему заказа и проставления получателем заказа подписи в документах, подтверждающих доставку заказа. В случае недоставки заказа Продавец возмещает клиенту стоимость предоплаченного клиентом заказа и доставки после получения подтверждения утраты заказа от службы доставки.</p>
            <p>6.8. При доставке заказ вручается клиенту либо лицу (представителю), указанному в качестве получателя заказа. При невозможности получения заказа, указанными выше лицами, заказ вручается лицу, готовому предоставить сведения о заказе (номер отправления и/или ФИО получателя). Продавец не обязан проверять полномочия представителя при приемке товара.</p>
            <p>6.9. В случае, если доставка товара произведена в установленные сроки, но товар не был передан Покупателю по его вине (например, отсутствовал в согласованное время по месту получения заказ), последующая доставка производится в новые сроки, согласованные с Продавцом, после повторной оплаты Покупателем стоимости услуг по доставке товара.</p>
            <p>6.10. Во избежание случаев мошенничества, при вручении предоплаченного заказа лицо, осуществляющее доставку заказа, вправе затребовать документ, удостоверяющий личность получателя, а также указать тип и номер предоставленного получателем документа на квитанции к заказу. Продавец гарантирует конфиденциальность и защиту персональной информации получателя.</p>
            <p>6.11. Продавец передает покупателю товар, качество которого соответствует договору и информации, представленной Покупателю при заключении Соглашения, а также информации, доведенной до его сведения при передаче товара (в технической документации, прилагаемой к товару, на этикетках, путем нанесения маркировки либо иными способами, предусмотренными для отдельных видов товаров).</p>
            <p>6.12. Сотрудник транспортной компании, осуществляющий доставку, передает клиенту все необходимые документы к заказу и товару:</p>
            <p>- товарный и кассовый чек (при оплате за наличный расчет);</p>
            <p>- накладную и счет-фактуру (при безналичном способе оплаты);</p>
            <p>- заполненный гарантийный талон (если он предусмотрен для данного товара), инструкцию по эксплуатации.</p>
            <p>6.13. В момент передачи товара от сотрудников транспортной компании (или представителей Продавца) Покупатель (или его представитель) осуществляет полную приемку товара по внешнему виду, комплектности, а также должен осмотреть и убедиться в отсутствии у товара внешних механических повреждений. При получении товара Покупатель обязуется изучить и подтвердить накладную (ассортимент, количество, цену) и условия, указанные в товарном чеке (если покупка была за наличный расчет).</p>
            <p>6.15. Покупатель вправе принять или отказаться от товара (в том числе в случае обнаружения дефектов, нарушении комплектации и количества) в момент его доставки согласно условиям, оговоренным в п.8 настоящего Соглашения.</p>
            <p>6.16. Претензии к внешнему виду и комплектации доставленного товара, в соответствии со ст. 458 и 459 ГК РФ, Покупатель может предъявить транспортной компании или представителям Продавца только до момента передачи товара и подписания документов, подтверждающих передачу товара. В случае повреждений упаковки и иных дефектов Покупатель обязан сделать пометки в сопутствующих к заказу документах. После приемки товара претензии Покупателя, касающиеся комплектности, видимых и механических повреждений товара, не принимаются.</p>
            <p>&nbsp;</p>
            <p><strong>7. Оплата товара</strong></p>
            <p>7.1. Цена товара указывается на сайте и может быть изменена Продавцом в одностороннем порядке.</p>
            <p>7.2. Цена товара на сайте включает в себя все налоги и указана в валюте Российской Федерации – рублях, за единицу товара. Оплата также принимается в рублях.</p>
            <p>7.3. Стоимость услуг по доставке товара не включена в указанные на сайте цены, рассчитывается дополнительно при оформлении заказа и вносится в документы, формируемые при заказе.</p>
            <p>7.4. В случае неверного указания цены заказанного клиентом товара, Продавец, при первой возможности, информирует об этом клиента для подтверждения заказа по исправленной цене, либо удаления этих позиций из заказа. В случае неполучения ответа клиента в течение 14 (четырнадцати) дней Продавец оставляет за собой право аннулировать данный товар из заказа. Если заказ был оплачен, продавец возвращает клиенту оплаченную за заказ сумму по его требованию и производит возврат денежных средств тем способом, которым товар изначально был предоплачен.</p>
            <p>7.5. Цена товара, конечная стоимость и окончательная сумма заказа, указываются на последнем этапе оформления заказа и действительны на момент нажатия кнопки «Отправить заказ». При этом цена на заказанный клиентом товар изменению не подлежит.</p>
            <p>7.6. Способы оплаты товара указаны на сайте в разделе «Интернет-магазин/Способы оплаты». Согласованным способом оплаты считается способ, выбранный клиентом из доступных способов оплаты при оформлении заказа:</p>
            <p>- безналичный расчет через банк для юридических и физических лиц (при безналичной форме оплаты обязанность Покупателя по оплате товара считается исполненной с момента зачисления соответствующих денежных средств, в размере 100% (сто процентов) предоплаты на расчетный счет Продавца (оператора по приему платежей). Получить товар при безналичном платеже клиент может только после поступления денежных средств на расчетный счет Продавца, предъявив документ удостоверяющий личность для физических лиц или доверенность от организации-плательщика для юридических лиц;</p>
            <p>- наличный расчёт или расчет пластиковой картой в кассу Продавца для юридических и физических лиц при самовывозе товара со склада МО, г. Видное, Белокаменное ш., д. 1 (покупатель обязан уплатить Продавцу цену товара в момент его передачи, а Продавец обязан предоставить Покупателю кассовый или товарный чек, или иной документ, подтверждающий оплату товара);</p>
            <p>- онлайн оплата на сайте для юридических и физических лиц (оплата производится в личном кабинете пользователя только после подтверждения заказа оператором (менеджером) Продавца).</p>
            <p>7.7. При предоплате товаров заказ принимается в обработку только после зачисления денежных средств клиента на расчетный счет Продавца. При этом товар под заказ не резервируется, и Продавец не может гарантировать доступность товара на складе, указанного в момент оформления заказа, как следствие, могут увеличиться сроки обработки заказа. В случае несогласия клиента с увеличением сроков обработки, Продавец возвращает клиенту оплаченную за заказ сумму по его требованию и производит возврат денежных средств тем способом, которым товар изначально был предоплачен.</p>
            <p>7.8. Просрочка оплаты клиентом товара на срок свыше 5 (пяти) календарных дней с момента его заказа является существенным нарушением настоящего Соглашения. В этом случае Продавец оставляет за собой право в одностороннем порядке отказаться от исполнения настоящего Соглашения, уведомив об этом клиента посредством направления сообщения на электронный адрес, указанный клиентом при регистрации или по телефону.</p>
            <p>7.9. Особенности оплаты товара с помощью банковских карт:</p>
            <p>- в соответствии с Положением ЦБ РФ «Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт» от 24.12.2004 № 266-П операции по банковским картам совершаются держателем карты либо уполномоченным им лицом;</p>
            <p>- при совершении оплаты товара с помощью банковской карты в пункте выдачи заказов клиент должен предъявить документ, удостоверяющий личность;</p>
            <p>- авторизация операций по банковским картам осуществляется банком. Если у банка есть основания полагать, что операция носит мошеннический характер, то банк вправе отказать в осуществлении данной операции;</p>
            <p>- во избежание случаев различного рода неправомерного использования банковских карт при оплате, все заказы, оформленные на сайте и предоплаченные банковской картой, проверяются Продавцом. Продавец оставляет за собой право без объяснения причины аннулировать заказ. Стоимость заказа возвращается на банковскую карту владельца;</p>
            <p>- Покупатель за свой счет оплачивает комиссии (сборы) взимаемые кредитными организациями (платежными системами) при осуществлении оплаты.</p>
            <p>&nbsp;</p>
            <p><strong>8. Обмен и возврат товара</strong></p>
            <p>8.1. Обмен и возврат товара осуществляется в соответствии с Законом РФ от 07.02.1992 № 2300-1 «О защите прав потребителей» и Постановлением Правительства РФ от 27.09.2007 № 612 «Об утверждении Правил продажи товаров дистанционным способом». Закон РФ «О защите прав потребителей» от 07.02.1992 г. № 2300-1 не распространяется на юридических лиц и индивидуальных предпринимателей, заказывающих или приобретающих товар для предпринимательской деятельности. При этом согласно Политике конфиденциальности, юридическое лицо/ИП при регистрации и осуществлении заказа выражает свое согласие с тем, что покупка осуществляется для нужд, связанных с предпринимательской деятельностью.</p>
            <p>Информация по обмену и возврату товаров (надлежащего и ненадлежащего качества) указана на сайте в разделе «Интернет-магазин/Возврат товара».</p>
            <p>8.2. Возврат товара надлежащего качества</p>
            <p>8.2.1.Покупатель вправе отказаться от товара надлежащего качества в любое время до его передачи, а после передачи товара в течение 10 (десяти) дней, не считая дня покупки.</p>
            <p>8.2.2. Информация о порядке и сроках возврата товара надлежащего качества предоставляется Покупателю при заполнении формы заказа и в письменной форме в момент доставки товара. Информация о порядке и сроках возврата товара потребителем содержит:</p>
            <p>- адрес (место нахождения) Продавца, по которому осуществляется возврат товара;</p>
            <p>- режим работы Продавца;</p>
            <p>- максимальный срок, в течение которого Товар может быть возвращен Продавцу (в течение 10 (десяти) дней);</p>
            <p>- предупреждение о необходимости сохранения товарного вида, потребительских свойств товара надлежащего качества до возврата его Продавцу, а также документы, подтверждающих факт совершения покупки;</p>
            <p>- срок и порядок возврата суммы, уплаченной Покупателем за товар.</p>
            <p>8.2.3. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара. Отсутствие у Покупателя указанного документа не лишает его возможности ссылаться на другие доказательства приобретения товара у данного Продавца.</p>
            <p>8.2.4. При отказе Покупателя от товара Продавец должен возвратить ему сумму, уплаченную покупателем в соответствии с договором, за исключением расходов Продавца на доставку от покупателя возвращенного товара, не позднее чем через 10 (десять) дней с даты предъявления Покупателем соответствующего требования.</p>
            <p>8.2.5. Доставка возвращаемого Покупателем товара надлежащего качества Продавцу осуществляется за счет Покупателя (п. 4. ст. 26.1 закона «О защите прав потребителей»). В случае отказа от товара в момент приемки, Покупатель оплачивает только стоимость доставки (п. 3, 4 ст. 497 ГК РФ).</p>
            <p>8.3. Возврат товара ненадлежащего качества.</p>
            <p>8.3.1. Замена или возврат товара с выявленным в процессе эксплуатации скрытым производственными дефектом производится на основаниях и в сроки, установленные Законом РФ «О защите прав потребителей». Основанием для произведения Продавцом замены или возврата товара являются соответствующая рекламация от Покупателя и акт авторизованного сервисного центра о наличии дефекта в товаре, его не ремонтопригодности, либо о произведенном неоднократном ремонте.</p>
            <p>Информация о порядке и сроках возврата товара потребителем содержит:</p>
            <p>- адрес (место нахождения) Продавца, по которому осуществляется возврат товара;</p>
            <p>- режим работы Продавца;</p>
            <p>- максимальный срок, в течение которого товар может быть возвращен Продавцу (в течение 10 (десяти) дней);</p>
            <p>8.3.2. Покупатель, которому продан товар ненадлежащего качества, если это не было оговорено Продавцом, вправе по своему выбору потребовать:</p>
            <p>- безвозмездного устранения недостатков товара или возмещения расходов на их исправление покупателем или третьим лицом;</p>
            <p>- соразмерного уменьшения покупной цены;</p>
            <p>- замены на новый товар аналогичной марки (модели, артикула) или на такой же товар другой марки (модели, артикула) с соответствующим перерасчетом покупной цены. Если в момент предъявления данного требования у Продавца отсутствует необходимый для замены товар, замена должна быть проведена в течение месяца со дня предъявления такого требования. В случае невозможности осуществить обмен товара ненадлежащего качества производится возврат денежных средств, уплаченных за товар.</p>
            <p>Эти требования Покупатель вправе предъявить при обнаружении недостатков как при приемке, так и в течение гарантийного срока или срока годности товара, а если такие сроки не установлены – в течение разумного срока (составляющего не более двух лет со дня получения товара).</p>
            <p>В отношении технически сложных и дорогостоящих товаров эти требования Покупателя подлежат удовлетворению согласно п. 8.3.8. настоящего Соглашения.</p>
            <p>8.3.3. Если какие-либо недостатки были оговорены до момента передачи товара Покупателю, то Продавец не несет за них ответственность и возврат товара по данной причине невозможен.</p>
            <p>8.3.4. Покупатель вместо предъявления требований, указанных в п.8.3.2, вправе отказаться от исполнения договора и потребовать возврата уплаченной за товар суммы. После предъявления требования о возврате уплаченной за товар денежной суммы, стоимость товара подлежит возврату клиенту в течение 10 (десяти) дней с момента получения Продавцом письменного заявления клиента и возврата товара. По требованию Продавца и за его счет Покупатель должен возвратить товар с недостатками.</p>
            <p>8.3.5. Покупатель вправе также потребовать полного возмещения убытков, причиненных ему вследствие продажи товара ненадлежащего качества. Убытки возмещаются в сроки, установленные Законом Российской Федерации «О защите прав потребителей» для удовлетворения соответствующих требований Покупателя.</p>
            <p>8.3.6. При получении требования от Покупателя о возврате товара ненадлежащего качества Продавец осуществляет следующие действия:</p>
            <p>- проводит самостоятельно проверку товара на наличие недостатков (составляется Акт осмотра товара с отражением выявленных недостатков, проведенной проверки и установления причин недостатков). Покупатель имеет право присутствовать при проверке товара.</p>
            <p>- если Продавец не может самостоятельно установить причину недостатков или возник спор о причинах возникновения недостатков Продавец вправе провести экспертизу товара (проверку качества).</p>
            <p>Проверка качества проводится в соответствии с п.5 ст. 18 ФЗ «О защите прав потребителей» в установленные законом сроки (в зависимости от предъявленных требований) в рамках действующих гарантийных обязательств компаний-производителей (изготовителей) и не требует от Покупателя дополнительных затрат. Проверка качества товара проводится в специализированном (авторизированном), фирменном, сервисном центре, имеющем необходимую аккредитацию и специалистов. Без проведения проверки качества товара Продавец не имеет возможности проверить факт наличия в товаре недостатка, установить причины его возникновения, является ли данный недостаток существенным и определить обоснованность требований Покупателя.</p>
            <p>Если при проведении проверки качества (экспертизы) будет установлено, что недостатки товара возникли вследствие обстоятельств, за которые не отвечает Продавец/изготовитель, Покупатель будет обязан возместить расходы на проведение проверки качества (экспертизы), за хранение и транспортировку товара. Если Покупатель не согласен с результатами экспертизы, он вправе оспорить заключение в судебном порядке.</p>
            <p>8.3.7. В отношении технически сложных товаров есть ряд ограничений на обмен товара и возврат денег:</p>
            <p>- если недостатки в отношении технически сложного товара будут заявлены Покупателем в течение 15 (пятнадцати) дней со дня передачи такого товара, то требования Покупателя могут быть удовлетворены только в случае передачи товара Продавцу для проведения проверки качества с целью выявления заявленных неисправностей и установления факта, что товар является ненадлежащего качества (т.е. имеется недостаток), а также причин их возникновения;</p>
            <p>- если этот срок прошел, технически сложный товар можно будет обменять или вернуть только в следующих случаях: у товара обнаружился существенный недостаток; продавец нарушил установленные законом сроки устранения недостатков; из-за необходимости устранения недостатков товар не может использоваться в совокупности более тридцати дней в течение гарантийного срока. Под существенным подразумевается неустранимый недостаток или недостаток, который не может быть устранен без несоразмерных расходов или затрат времени, или выявляется неоднократно, или проявляется вновь после его устранения, или другие подобные недостатки.</p>
            <p>Перечень сложных технических товаров утвержден Постановлением Правительства РФ от 10.11.2011 № 924 «Об утверждении перечня технически сложных товаров».</p>
            <p>8.4. Продавец вправе устанавливать иные условия возврата и обмена товара, не нарушающие права Покупателя в соответствии с настоящим Соглашением и Законом РФ «О защите прав потребителей» от 07.02.1992 г. № 2300-1.</p>
            <p>&nbsp;</p>
            <p><strong>9. Возврат денежных средств</strong></p>
            <p>9.1. Возврат денежных средств Покупателю производится в соответствии с действующим законодательством РФ, но в любом случае не позднее 30 (тридцати) календарных дней со дня получения соответствующего заявления Покупателя в письменном виде или по электронной почте.<strong></strong></p>
            <p>9.2. Т<strong>овар был оплачен банковской картой:</strong><strong></strong></p>
            <p>9.2.1. Возврат средств за товары, оплаченные банковской картой, производится на карту клиента, оплатившего товар. Выплата наличных денежных средств при возврате товаров, оплаченных банковскими картами не возможна.</p>
            <p>9.2.2. В случае если на момент возврата товара карта клиента прекратила свое действие (утрачена, окончился срок действия, возвращена в банк), возврат может быть произведен на другую карту того же клиента, либо на банковский счет по заявлению клиента. В этом случае срок возврата средств может быть увеличен до месяца (с<strong>м. п. 2</strong> Указания Банка России от 20 июня 2007 г. № 1843-У и <em>Письмо ЦБ РФ от 01.08.2011 г. «О возврате денежных средств за товар (услугу) ранее оплаченной с использованием платежной карты»).</em><em></em></p>
            <p><strong>9.3. Если товар был оплачен наличными -</strong> деньги выплачиваются Покупателю из кассы Продавца, по месту его расположения.</p>
            <p>9.4. Если товар был оплачен безналичным способом – деньги возвращаются Покупателю по реквизитам, указанным в заявлении для возврата денежных средств. Покупатель несет ответственность за достоверность указанных реквизитов.</p>
            <p>&nbsp;</p>
            <p><strong>10. Порядок действий при нарушении Продавцом условия об ассортименте (пересорт)</strong></p>
            <p>10.1. В случае передачи товара в нарушении условия об ассортименте применяются правила ст.468 ГК РФ.</p>
            <p>10.2. В случае обнаружения в заказе товара, не соответствующего заказанному ассортименту (пересорт), клиент вправе при передаче заказа отказаться от данного товара и потребовать замены на товар в ассортименте, предусмотренном заказом, либо возврата денежных средств за фактически непереданный товар. Клиент обязан в присутствии представителя Продавца или сотрудника транспортной компании составить Акт о расхождении в ассортименте.</p>
            <p>10.3. Товар, переданный клиенту в нарушение условия об ассортименте, подлежит возврату Продавцу. В случае если клиент принимает данный товар, Продавец вправе потребовать от клиента оплаты данного товара по цене, установленной Продавцом для данного товара на сайте на момент передачи товара.</p>
            <p>10.4. Замена товара, не соответствующего заказу по ассортименту, осуществляется путем оформления нового заказа по согласованию сторон - Продавцом либо клиентом, при условии предоставления клиентом Акта о расхождении в ассортименте.</p>
            <p>10.5. В случае невозможности осуществить замену товара, Продавец уведомляет об этом клиента посредством направления сообщения на электронный адрес, указанный клиентом при регистрации, а денежные средства, фактически оплаченные за непереданный товар, возвращаются в порядке, предусмотренном п.9 настоящего Соглашения.</p>
            <p>&nbsp;</p>
            <p><strong>11. Порядок действий при нарушении Продавцом условия о количестве</strong></p>
            <p>11.1. При передаче заказа клиент обязан проверить количество товаров в заказе. Если при передаче заказа клиентом обнаружены расхождения по количеству товара в заказе, клиент обязан в присутствии представителя Продавца или сотрудника транспортной компании составить Акт о расхождении по количеству.</p>
            <p>11.2. Если Продавец передал клиенту меньшее количество товара, чем определено заказом (недовложение), клиент при передаче заказа вправе принять товар в части, соответствующей заказу, и потребовать передать недостающее количество товара, либо, если недостающий товар был оплачен, отказаться от заказа в части недостающего товара и потребовать возврата денежных средств за недостающий товар.</p>
            <p>11.3. Передача недостающего товара осуществляется посредством оформления нового заказа по согласованию сторон - Продавцом либо клиентом, при условии предоставления клиентом акта о расхождении (Акта о недовложении).</p>
            <p>11.4. В случае невозможности передать недостающий товар, Продавец уведомляет об этом клиента посредством направления сообщения на электронный адрес, указанный клиентом при регистрации, а денежные средства, фактически оплаченные за недостающий товар, возвращаются в порядке, предусмотренном п.9 настоящего Соглашения.</p>
            <p>&nbsp;</p>
            <p><strong>12. Гарантия на Товар</strong></p>
            <p>12.1. Условия гарантии и гарантийного обслуживания определяются изготовителем или Продавцом.</p>
            <p>12.2. Гарантийный срок определяется производителем и указан в гарантийном талоне на товар.</p>
            <p>Срок исчисляется со дня продажи товара потребителю.</p>
            <p>Информация об адресах и телефонах сервисных центров присутствует в гарантийном талоне или на официальном сайте соответствующего производителя товара.</p>
            <p>12.3. Продавец отвечает за недостатки товара, на которые не установлен гарантийный срок, если Покупатель докажет, что они возникли до передачи товара Покупателю или по причинам, возникшим до этого момента.</p>
            <p>12.4. Требования, заявленные Покупателем по истечении гарантийных сроков, рассматриваются Продавцом в порядке, установленном законодательством.</p>
            <p>12.5. Продавец не несет ответственность за ущерб, причиненный клиенту вследствие ненадлежащего использования товаров, заказанных на сайте.</p>
            <p>12.6. При приобретении Покупателем технически сложных товаров, которые требуют специализированной установки, Продавец не несет ответственности за правильность их подключения и использования.</p>
            <p>12.7. Претензии по качеству товара принимаются по юридическому и фактическому адресу Продавца (п. 16 настоящего Соглашения).</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>13. Политика конфиденциальности</strong></p>
            <p>Интернет-магазин Хитон – q-li.ru/heaton высоко ценит доверие, оказываемое нам нашими Покупателями, и осознает ответственность за обеспечение конфиденциальности персональных данных.</p>
            <p><a href="/pages/privacy_policy/"><span style="text-decoration: underline;">Политика конфиденциальности Интернет-магазин </span><span style="text-decoration: underline;">heaton</span><span style="text-decoration: underline;">.</span><span style="text-decoration: underline;">ru</span></a><span style="text-decoration: underline;"></span></p>
            <p>&nbsp;</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>14. Ответственность сторон</strong></p>
            <p>14.1. Продавец не несет ответственности:</p>
            <p>14.1.1. За достоверность данных, указанных Покупателем при регистрации и заказе товара, а также за продажу и доставку товара вследствие указания Покупателем недостоверных сведений о себе.</p>
            <p>14.1.2. За действия смежных служб и сервисов, используемых для предоставления услуг Покупателю, но не принадлежащих Продавцу: банков, почтовых служб, интернет-провайдеров, емейл-сервисов, платежных систем и т.д.</p>
            <p>14.1.3. За любые расходы Покупателя, прямой либо косвенный ущерб, который может быть нанесен Покупателю в результате использования или невозможности пользования услугами интернет-магазина и понесенный в результате ошибок, пропусков, перерывов в работе, удаления файлов, изменения функций, задержек в работе при передаче данных и т.п., случившихся не по вине интернет-магазина.</p>
            <p>14.2. Продавец вправе переуступать или каким-либо иным способом передавать свои права и обязанности, вытекающие из его отношений с клиентом, третьим лицам.</p>
            <p>14.3. Использование сайта допускается только совершеннолетними лицами. Покупатель несет ответственность за любое (даже без его разрешения) использование несовершеннолетним, не достигшим 18 лет, учетной записи в интернет-магазине, а также за все действия, совершенные несовершеннолетним на сайте.</p>
            <p>14.4. Пользователь обязуется не отправлять на адреса электронной почты, указанные на сайте, несанкционированные сообщения рекламного характера (junkmail, spam).</p>
            <p>&nbsp;</p>
            <p><strong>15. Прочие условия</strong></p>
            <p>15.1. За нарушение условий настоящего Соглашения Покупатель и Продавец несут ответственность в соответствии с законодательством РФ.</p>
            <p>15.2. В случае возникновения любых споров или разногласий, связанных с исполнением Соглашения, Покупатель и Продавец приложат все усилия для их разрешения путем проведения переговоров, рассмотрения жалоб, претензий или иных обращений Покупателя. Если споры не будут разрешены путем переговоров, то они подлежат разрешению в порядке, установленном законодательством РФ.</p>
            <p>15.3. Признание судом недействительности какого-либо из условий настоящего Соглашения не влечет за собой недействительность остальных его положений.</p>
            <p>15.4. Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по Соглашению на время действия непреодолимой силы. Под непреодолимой силой понимаются чрезвычайные и непреодолимые при данных условиях обстоятельства, препятствующие исполнению своих обязательств сторонами по настоящему Соглашению. К ним относятся стихийные явления (землетрясения, наводнения и т.п.), обстоятельства общественной жизни (военные действия, чрезвычайные положения, крупнейшие забастовки, эпидемии и т.п.), запретительные меры государственных органов (запрещение перевозок, валютные ограничения, международные санкции запрета на торговлю и т.п.). В течение этого времени стороны не имеют взаимных претензий, и каждая из сторон принимает на себя свой риск последствия форс-мажорных обстоятельств.</p>
            <p>15.5. По всем остальным вопросам, не предусмотренным в настоящем Соглашении, Покупатель и Продавец руководствуются действующим законодательством РФ.</p>
            <p>15.6. Срок, в течение которого действует Соглашение о приобретении товаров в интернет-магазине ограничен наличием того или иного товара на складе Продавца.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>16. Реквизиты Продавца</strong></p>
            <p><strong>&nbsp;</strong></p>
            <p>Полное наименование организации: Общество с ограниченной ответственностью «Хитон»</p>
            <p><strong>&nbsp;</strong></p>
            <p>Юридический адрес: ???</p>
            <p>Фактический адрес: ???</p>
            <p>Почтовый адрес: ???</p>
            <p>Телефон: ????</p>
            <p>ИНН/КПП: 1111/1111</p>
            <p>Основной государственный регистрационный номер (ОГРН): 1111</p>
            <p>Код ОКВЭД: 11.11</p>
            <p>Код ОКПО: 1111111</p>
            <p><strong>Банковские реквизиты</strong></p>
            <p>Полное наименование банка: КБ «СДМ-БАНК» ПАО г. Москва</p>
            <p>Расчетный счет: 1111</p>
            <p>Корреспондентский счет: 1111</p>
            <p>БИК: 1111</p></div>
            
            </div>
</section>
<Footer class="mt-auto snap-center bg-neutral-300"/>
</Layout>
  