---
import Socials from './Socials.astro';
const URL_policy = `${import.meta.env.BASE_URL}/policy`
---
<section class="mx-auto flex inview-bottom w-full @container">
    <div class="bg-primary p-8 sm:p-16 drop-shadow-primary-d rounded-2xl w-full my-32 inview-target relative">
        <div class="flex flex-col sm:flex-row justify-between mb-8 sm:mb-auto">
            <h2 class="text-2xl font-black sm:text-4xl mb-4 sm:mb-16 text-neutral-50 uppercase w-1/2 shrink">Получить комерческое предложение</h2>
            <Socials class="z-50 text-neutral-50 scale-75 sm:scale-100 origin-left"/>
        </div>
        <div class="">
            <form id="contactForm" class="flex flex-col gap-4 relative" action="https://kaclimeque.beget.app/webhook/84b418ce-14f1-408f-a9e3-01291e95924d" method="POST">
                <div class="flex gap-6 items-center flex-col sm:flex-row text-neutral-50/80 text-lg">
                    Свяжитесь с нами любым удобным вам способом чтобы получить коммерческое предложение
                    <!-- <input name="phone" type="tel" pattern="+?[0-9]{1,4}-?[0-9 ]{5,9}" required placeholder="Телефон" class="grow rounded-xl w-full sm:w-auto inset-0 border-t-0 border-l-0 border-r-0 border-b-neutral-50 bg-neutral-50/5 text-neutral-50 focus:ring-neutral-50 focus:border-b-neutral-50 focus:outline-none placeholder:text-neutral-50/50"/>
                    <div class="p-2 rounded-full bg-neutral-50/10 text-neutral-50">или</div>
                    <input name="mail" type="email" required placeholder="Почта" class="grow rounded-xl w-full sm:w-auto inset-0 border-t-0 border-l-0 border-r-0 border-b-neutral-50 bg-neutral-50/5 text-neutral-50 focus:ring-neutral-50 focus:border-b-neutral-50 focus:outline-none placeholder:text-neutral-50/50"/> -->
                </div>

            </form>
        </div>
   </div>
</section>