---
interface Props {
    title: string;
    class?: string;
}

const { title, class: className } = Astro.props;
---

<li class:list={["rounded-xl p-8 flex flex-col", className]}>
    {Astro.slots.has('image') && (
        <div class="mb-16">
            <slot name="image"/>
        </div>
    )}
    <h3 class="font-black uppercase pb-4 text-2xl text-primary">{title}</h3>
    <p class="mt-auto">
        <slot/>
    </p>
</li>