---
const {header, subheader, class:className} = Astro.props
---
<!-- before:absolute before:w-full before:h-[50vh] before:min-h-[300px] before:-z-50 before:bg-[#F0F0F0] -->
<section class="min-h-svh relative isolate" class:list={className}>
    <slot name="navbar"/>
    <div class="mx-auto container-center -translate-x-2 z-40 relative">
        <slot name="breadcrumbs"/>
    </div>
    <div class="flex md:mt-0 flex-col md:flex-row container-center mx-auto justify-between items-center grow min-h-[70svh]">
        <div class="info max-w-full md:w-1/2 z-10 order-2 md:order-1 grow mt-auto md:mt-0">
            <slot name="header"/>
        </div>
        <div class="relative grow object-right min-w-96 lg:scale-110 md:translate-x-32 order-1 md:order-2 p-4 md:p-0 drop-shadow-primary-hard-sm md:drop-shadow-primary-hard-lg lg:drop-shadow-primary-hard-xl">
            <slot name="image"/>
            <!-- <div class="absolute inset-0  top-0 left-0 blur-2xl -z-10">
                <div class="drop-shadow-primary-d -translate-x-8 translate-y-4 -hue-rotate-60">
                    <div class="sepia brightness-[5]">
                        <slot name="image"/>
                    </div>
                </div>
                <div class="inset-24 -translate-x-4 translate-y-4 bg-primary absolute rounded-full"></div>
                <div class="inset-24 translate-x-4 -translate-y-4  bg-neutral-200/60 absolute rounded-full"></div>
            </div> -->
        </div>
    </div>
</section>