---
import { Icon } from "astro-icon/components";
const {class:className, ...attr} = Astro.props;
---
<ul class="flex gap-4 group" class:list={className} {...attr}>
    <li><a href="tel:"> <Icon name={"telegram"} class="size-12 will-change-transform hover:-rotate-6 hover:scale-110 transition-all hover:opacity-90 group-data-[small]:size-10 group-data-[response]:size-8 group-data-[response]:md:size-12"/></a></li>
    <li><a href="tel:"> <Icon name={"whatsup"} class="size-12 will-change-transform hover:-rotate-6 hover:scale-110 transition-all hover:opacity-90 group-data-[small]:size-10 group-data-[response]:size-8 group-data-[response]:md:size-12"/></a></li>
    <li><a href="tel:"> <Icon name={"Phone Calling"} class="size-12 will-change-transform hover:-rotate-6 hover:scale-110 transition-all hover:opacity-90 group-data-[small]:size-10 group-data-[response]:size-8 group-data-[response]:md:size-12"/></a></li>
</ul>