---
import pkg from "papaparse";
const { parse } = pkg;

interface CsvTableProps {
  csvData: string;
}

const { csvData } = Astro.props as CsvTableProps;

const parsedData = parse(csvData, {
  header: true,
  dynamicTyping: true,
  skipEmptyLines: true,
}).data as Record<string, any>[];

const headers = parsedData.length > 0 ? Object.keys(parsedData[0]) : [];
---

<div class="flex flex-col">
  <div class="overflow-x-auto">
    <div class="min-w-full inline-block align-middle">
      <div class="overflow-hidden  rounded-3xl">
        <table class=" min-w-full rounded-xl">
          <thead>
            <tr class="bg-stone-50 py-1">
              {headers.map((header) => <th scope="col" class="px-2 py-1 text-left text-xs leading-6 font-normal text-stone-600 capitalize whitespace-nowrap first-of-type:pl-3">{header}</th>)}
            </tr>
          </thead>
          <tbody>
            {
              parsedData.map((row) => (
                <tr class="odd:bg-stone-50 even:bg-stone-100 hover:bg-stone-200 data-[current]:bg-[#FCD47F]">
                  {headers.map((header) => (
                    <td class="px-2 my-1 whitespace-nowrap text-sm leading-6 font-normal text-stone-700 first-of-type:pl-3" id=`${header==="Номенклатурный номер"?row[header]:""}`>{row[header]}</td>
                  ))}
                </tr>
              ))
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

